<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <div class="main">
      <div>

<div align="center">
  <img src="/img/404-bearisdriving.jpg" alt="Oh my god, 404, page is missing. How can that be?!">
</div>

<div class="container">
  <h1>404</h1>

  <p><strong>Page not found :(</strong></p>
  <p>The requested page could not be found.</p>
</div>

        <p><a href="{{ .Site.BaseURL }}">Go Home</a></p>
      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
