{{ define "main"}}
  <h1>{{ .Title }}</h1>
  {{ partial "header.html" . }}
  <!-- contents -->
  <div id="contentsList">
    {{ $listPageDateFormat := .Site.Params.listPageDateFormat | default "January, 2006"}}
    {{ range $index, $value := .Pages.GroupByDate $listPageDateFormat }}
    {{ if (ne $index 0) }}
    <hr class="separator">
    {{ end }}
    <p class="date">{{ .Key }}</p>
    {{ range .Pages }}
      {{ with .Params.hide }}
      {{ else }}
        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
      {{ end }}
    {{ end }}
    {{ end }}
  </div>
  <!-- search box -->
  <div id="searchBox">
    <input type="text" id="searchBoxInput" placeholder="Search..." />
    <img id="searchBoxIcon" src="{{ .Site.BaseURL }}/img/search.png" />
  </div>
  <!-- search results -->
  <div id="searchResults"></div>
  <!-- tags -->
  <div id="tags">
    <ul>
      {{ range .Site.Taxonomies.tags.ByCount }}
        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }} ({{ .Count }})</a></li>
      {{ end }}
    </ul>
  </div>
  {{ partial "footer.html" . }}
  {{ $jquery := resources.Get "js/jquery-3.5.1.min.js" }}
  {{ $mark := resources.Get "js/jquery.mark.es6.min.js" }}
  {{ $lunr := resources.Get "js/lunr.js" }}
  {{ $search := resources.Get "js/search.js" }}
  {{ $js := slice $jquery $mark $lunr $search | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint }}
  <script src="{{ $js.Permalink }}"></script>
{{ end }}
